
/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


.weight {
  width: 650px;
  margin: 16px auto;
  font-size: 16px;
  button {
    background: rgb(12, 11, 11);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    height: 40px;
    width: 90px;
    border: 2px solid white;
    font-size: 14px; 
  }
  label {
    float: left;
    position: relative;
    left:15px;
    span{
      color:red;
    }
  }
}

.weight-header,
.weight p {
  margin-top: 0;
  margin-bottom: 0;
}

.weight-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(15, 66, 107);
}

.weight-header {
  background: rgb(12, 77, 129);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.weight-container {
  background: #ebebeb;
  padding: 12px;
}

.weight p {
  padding: 12px;
}

.weight input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.weight input[type="text"],
.weight input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.weight input[type="text"]:focus,
.weight input[type="password"]:focus {
  border-color: #888;
}

.weight input[type="submit"] {
  background: rgb(1, 29, 51);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.weight input[type="submit"]:hover {
  background: #17c;
}

.weight input[type="submit"]:focus {
  border-color: #05a;
}

.has-error input[type="number"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}
.errorNote {
  color: rgb(230, 14, 14);
  font-size:12px;
}